* {
  margin: 0;
  padding: 0;
}

/*NAVIGATION*/
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
}
.header .main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 55px;
  margin-top: 25px;
  list-style-type: none;
}
.header .main-menu a {
  font-size: 28px;
  font-family: "Neucha";
  color: #000;
  text-decoration: none;
}
.header .main-menu a:hover {
  text-decoration: underline;
}
.header .main-menu .logomenu {
  height: 55px;
  cursor: pointer;
}
/*END NAVIGATION*/


.header .aboutcompany {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 80px);
}

.header .aboutcompany h1{
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}